@font-face {
    font-family: Poppins;
    src: url(/Assests/Fonts/POPPINS-REGULAR.TTF);
}

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    min-height: 100vh;
    /* overflow-x:hidden; */
}

nav{
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 3.5vw;
}
nav .nav-left img{
    height: 4.5vw;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 3vw;
    font-size: 15px;
}

.nav-right h3{
    font-weight: 500;
    cursor: pointer;
}
.nav-right #findjob{
    background-color: white;
    color: black;
    padding: 0.7vw 2vw;
    border-radius: 12px;
    font-weight: 700;
    border: 2px solid #41a7c9;
    transition: all ease 0.2s;
    font-size: 1vw;
    
    cursor: pointer;
}

.nav-right #findjob:hover{
    background-color: #41a7c9;
    color: white;
    border: 2px solid #41a7c9;
}

.sidebar{
    position: fixed;
    top: 0;
    right: -300px;
    /* right: 0; */
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.195);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    height: 100vh;
    width: 300px;

    

    backdrop-filter: blur(10px);

    transition: all ease-in-out 0.5s;
}

.sidebar svg{
    margin: 30px 0;
}
.sidebar-menu{

    /* margin-top: 50px; */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.sidebar h4{
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.sidebar #findjob{
    background-color: white;
    color: black;
    padding: 0.7vw 2vw;
    border-radius: 12px;
    font-weight: 700;
    border: 2px solid #41a7c9;
    transition: all ease 0.2s;
    font-size: 1vw;
    
    cursor: pointer;
}
.sidebar #findjob:hover{
    background-color: #41a7c9;
    color: white;
    border: 2px solid #41a7c9;
}
#menu-btn{
    display: none;
}

.review-wrapper{
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.reviews{
    height: 100%;
    width: 95%;
    /* background-color: #222; */
    background-image: url(/Assests/reviews.jpg);
    background-position: center;
    background-size: cover;

    border-radius: 40px;

    overflow: hidden;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.285);

    display: grid;
    place-items: center;
}

.overlay h1{
    color: white;
    font-size: 4.5vw;
}



@media (max-width: 800px) {

    .main #whatsappIcon{
        height: 7.5vw;
    }
    #menu-btn{
        display: block;
    }
    .nav-right .hideonmobile{
        display: none;
    }
    nav .nav-left img {
        height: 8vw;
        
    }
    .sidebar #findjob {
        font-size: 2vw;
        padding: 1.5vw 4vw;
    }
    .overlay h1{
        font-size: 7vw;
    }
}

@media (max-width: 450px) {
    .main #whatsappIcon{
        height: 16vw;
    }
    nav .nav-left img {
        height: 15vw;
        /* margin-left: 50px; */
    }
    .sidebar{
        /* display: none; */
        width: 100%;
        right: -100%;
    }
    .sidebar #findjob {
        font-size: 4vw;
        
    }
    .overlay h1{
        font-size: 10vw;
    }
}





.bcgblob{
    height: 380px;
    width: 380px;
    position: absolute;
    z-index: -10;
    overflow-x: hidden;
}

.b1{
    border-radius: 43% 57% 41% 59% / 25% 32% 68% 75% ;
    background-image: linear-gradient(to bottom right, #41a7c9, #00B074);
    left: -90px;
    top: 200px;
}
.b2{
    border-radius: 43% 57% 41% 59% / 25% 32% 68% 75% ;
    background-image: linear-gradient(to bottom left, #41a7c9, #00B074);
    right: 150px;
    top: 90%;
}

.b3{
    border-radius: 43% 57% 41% 59% / 25% 32% 68% 75% ;
    background-image: linear-gradient(to top left, #41a7c9, #00B074);
    left: 150px;
    top: 150%;
}


@media (max-width: 800px) {
    .bcgblob{
        height: 250px;
        width: 250px;
    }
    .b1{
        top: 300px;
    }
    .b2{
        top: 180%;
        right: 100px;
    }
    .b3{
        left: 70px;
        top: 300%;
    }

}

@media (max-width: 450px) {
    .bcgblob{
        display: none;
    }
}










.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    /* background-color: aqua; */
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: black;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    animation: moveline 12s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }100%{
        height: 100%;
    }
}
.container{
    position: relative;
    padding: 10px 50px;
    width: 50%;
    /* background-color: rgb(208, 237, 208); */
    /* border-radius: 12px; */
    animation: movedown 2s linear   forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }100%{
        opacity: 1;
        transform: translateY(0px);
    }
}



.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 2s;
}
.container:nth-child(3){
    animation-delay: 4s;
}
.container:nth-child(4){
    animation-delay: 6s;
}
.container:nth-child(5){
    animation-delay: 8s;
}
.container:nth-child(6){
    animation-delay: 10s;
}

.text-box{
    padding: 20px 50px;
    position: relative;
    background-color: rgb(225, 250, 225);
    border-radius: 10px;
    font-size: 15px;

    border: 0.5px solid black;
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 2;
    border: 1px solid black;
}
.right-container img{
    left: -20px;
}


.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    /* border-right: 15px solid rgb(180, 247, 180); */
    border-left: 15px solid #00B074;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #41a7c9;
    /* border-left: 15px solid #00B074; */
    left: -15px;
}


@media (max-width: 600px) {
    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box{
        font-size: 13px;
    }

    .right-container{
        left: 0;
    }

    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #41a7c9;
        border-left: 0;
        left: -15px;
    }
}



.footer-distributed{
	/* background: #282828; */
    background: #E4E9E4;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
    /* border-top-right-radius: 120px; */
    /* border-top-left-radius: 120px; */
    /* border-bottom-left-radius: 120px; */
    /* border-bottom-right-radius: 120px; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-left>img{
    height: 8vw;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #333333;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	/* background-color:  #33383b; */
	color: #00B074;
	font-size: 25px;
	/* width: 45px;
	height: 45px; */
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i{
	font-size: 22px;
    font-weight: 400;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #555555;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #41a7c9;
	text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #555555;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #555555;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #333333;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 20px; 
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #00B074;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed .footer-icons i{
    font-size: 21px;
    font-weight: 200;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

@media (max-width: 450px) {
    .footer-left>img {
        height: 10vw;
    }
}